<style>
    .glyphicon-heart {
        color: red;
        font-size: 20px;
    }
    
    .custom {
        color: #7f8c8d;
        opacity: 0.7;
    }
    
    .custom:active {
        color: red
    }
</style>
<div class="jumbotron ">
    <h3 class="text-center">{{ tagline }}</h3>
    <div class="row" ng-show="loggedIn">
        <div class="col-md-12" ng-repeat="story in news" style="border : 1px solid #aeaeae; height: 100px; position: relative;">
            <div style="height:40px;width:95%; position: absolute;top: 50%; left: 50%;  transform: translate(-50%,-50%);">
                <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="story.content.webPublicationDate | date:'mediumDate'"></span>
        in
        <span ng-if="story.content.sectionName" ng-bind="story.content.sectionName"></span>
      </small>
                <h4 class="list-group-item-heading" data-ng-bind="story.content.webTitle"></h4>
                <div class="pull-right" style="height: 40px;width: 20%;position: absolute;top: 50%;right: 0%;transform: translate(-1% ,-1%);">
                    <div class="col-md-4">
                        <a class="btn btn-primary btn-sm" href="{{story.content.webUrl}}" target="_blank">View </a>
                    </div>
                    <div class="col-md-4">
                        <span class="like ">
                <i class="glyphicon glyphicon-heart " ng-class="{ 'custom': !story.content.like}" ng-click="likeSwitch($index);"> </i>
                </span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>