<!-- public/views/home.html -->
<style>
    .glyphicon-heart {
        color: red;
        font-size: 20px;
    }
    
    .custom {
        color: #7f8c8d;
        opacity: 0.7;
    }
    
    .custom:active {
        color: red
    }
</style>
<div class="jumbotron ">
    <div class="text-center">
        <div class="col-md-12 " ng-show="weather">
            <h4>Weather</h4>
            <div>{{weather.location | uppercase}}</div>
            <div>
                <h2>{{weather.temperature+ "°C"}}
                    </h2>
            </div>
            <div><small>Humidity</small> </div>
            <div>{{weather.humidity}} %</div><br/>
            <div><small>Wind</small> </div>
            <div>{{weather.wind}}</div><br/>
            <div></div>
        </div>
        <div class="row" ng-hide="loggedIn">
            <h3 class="col-md-12 text-center">Sign in using your Twitter account</h3>
            <div class="col-md-12 text-center">
                <div class="social-account-container social-button">
                    <a class="btn"><img class="img-responsive" ng-click="callOauthProvider('/api/auth/twitter')" ng-src="img/twitter.png"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="loggedIn">
        <h3 class="text-center">Food Search</h3>
        <input type="text" id="searchBox"/> <input type="submit" value="search" onclick="getImages()">
        <div id="responseField" ng-show="loggedIn">        </div>
        <script>
            function hndlr(response) {
                var googleURL = "https://www.googleapis.com/customsearch/v1?q=";
                var input = document.getElementById("searchBox").value.replace(/ /g, "+");
                var restOfURL = "&cx=009652964909322378393%3Agju2qjkuvdq&searchType=image&key=AIzaSyAIBpaEIl-xgZ19lpxK_yMD_GNfU7qnQzI&callback=hndlr";
                var responseField = document.getElementById("responseField");
                googleURL += (input + restOfURL);

                for (var i = 0; i < response.items.length; i++) {
                    var item = response.items[i];
                    // in production code, item.htmlTitle should have the HTML entities escaped.
                    document.getElementById("content").innerHTML += "<br>" + item.htmlTitle;
                }
            function getImages() {
                var googleURL = "https://www.googleapis.com/customsearch/v1?q=";
                var input = document.getElementById("searchBox").value.replace(/ /g, "+");
                var restOfURL = "&cx=009652964909322378393%3Agju2qjkuvdq&searchType=image&key=AIzaSyAIBpaEIl-xgZ19lpxK_yMD_GNfU7qnQzI&callback=hndlr";
                var responseField = document.getElementById("responseField");
                googleURL += (input + restOfURL);

                document.getElementById("responseField").innerHTML += googleURL;

                $.getJSON(googleURL, response => {
                    for (var i = 0; i < response.items.length; i++) {

                        var link = response.items[i].link;
                        console.log(link);
                    }
                });
            };
        </script>



    </div>
</div>