<style>
    .location-item {
        min-height: 50px;
        background: white;
        border-bottom: 1px solid #afafaf;
        padding: 15px;
    }
</style>
<div class="jumbotron ">
    <h3 class="text-center">{{ tagline }}</h3>
    <div class="row">
        <form ng-submit="saveLocation(location)">
            <div class="col-md-3">
                <input class="form-control" ng-model="location.city" ng-required type="text" placeholder="Enter City" />
            </div>
            <div class="col-md-3">
                <input class="form-control" ng-model="location.state" ng-required type="text" placeholder="Enter State" />

            </div>
            <div class="col-md-3">
                <input class="form-control" ng-model="location.country" ng-required type="text" placeholder="Enter Country" />
            </div>
            <div class="col-md-2">
                <input class="form-control btn btn-sm btn-primary" type="submit" value="Add Location" />
            </div>
        </form>
    </div>
    <div class="row" style="margin-top:20px;">
        <input type="text" class="col-md-12 form-control" ng-model="search.fullName" placeholder="Search My Locations" />
    </div>

    <div class="row" style="margin-top:20px;">
        <div class="col-md-12 location-item" ng-repeat="location in locations | filter: search">
            <div class="col-md-6" style="height:100%;">
                <span ng-show="location.city">{{location.city }}&nbsp;</span>
                <span ng-show="location.state">{{location.state }}</span>
                <span ng-show="location.country">, {{location.country }}</span>
            </div>
            <div class="col-md-3 pull-right" style="height:100%;color:white;">
                <span><i ng-click="getWeatherByLocation(location,$index)" class="btn btn-sm btn-success glyphicon glyphicon-hand-down "></i></span>
                <span><i  ng-click="savePrimaryLocation(location,$index)" class="btn btn-sm btn-success glyphicon glyphicon-hand-up "></i></span>
                <span><i  ng-click="editLocation(location,$index);" class="btn btn-sm btn-warning glyphicon glyphicon-edit "></i></span>
                <span><i ng-click="deleteLocation(location,$index);" class="btn btn-sm btn-danger glyphicon glyphicon-trash "></i></span>
            </div>
            <div class="col-md-12 " ng-show="location.weather">
                <h5>Weather</h5>
                <div>{{location.weather.location | uppercase}}</div>
                <div>
                    <h2>{{location.weather.temperature+ "°C"}}
                        <h2>
                </div>
                <div><small>Humidity</small> </div>
                <div>{{location.weather.humidity}} %</div><br/>
                <div><small>Wind</small> </div>
                <div>{{location.weather.wind}}</div><br/>
                <div></div>
            </div>

        </div>
    </div>

</div>