<app-navbar></app-navbar>
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 *ngIf="!authService.isAuthenticated()">
    Welcome to Router!
  </h1>
  <h1 *ngIf="authService.isAuthenticated()">
    Welcome, {{profile.nickname}}!
  </h1>
  <img width="300" src="https://www.graphicsprings.com/filestorage/stencils/413b3cc6442fd186fc50110196040499.png?width=500&height=500">
</div>
<div class="container">
  <app-yelp></app-yelp>
</div>
<footer>
  <label>Created by: Chuong Thao. Powered by Google Inc. and Yelp Inc.</label>
</footer>
